 body {
     font-family: Arial, sans-serif;
     background-color: #ba4778;
 }

 form {
     max-width: 500px;
     margin: 0 auto;
     padding: 20px;
     background-color: #dc558f;
     border-radius: 5px;
     box-shadow: 0 0 10px #0000;
 }

 label {
     display: block;
     margin-bottom: 10px;
     font-weight: bold;
 }

 input,
 select,
 textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }

 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
     background-color: #4CAF50;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
 }

 .login-form {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }


 .form-actions {
     display: flex;
     justify-content: flex-end;
 }

 